{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>Game Page</title>
</head>
<body>
    <header>
        {{ game.name }}
    </header>

    <div class="container">
        <!-- Player 1 -->
        <div class="player">
            {% if game.player_1.picture %}
                <img src="{{ game.player_1.picture.url }}" alt="{{ game.player_1.name }}">
            {% else %}
                <img src="{% static 'app/images/player1_default.png' %}" alt="Default player image">
            {% endif %}
            <div class="name">{{ game.player_1.name }}</div>
            <div id="player_1_points" class="points">{{ game.player_1.points }} points</div>
            <div id="player_1_winner" class="winner hidden">
                <h2>Winner!</h2>
                <div class="confetti"></div>
            </div>
        </div>

        <!-- Question Section -->
        <div class="question-container">
            <div class="question">
                {{ current_question.question }}
            </div>
            <div class="answers">
                <div class="checkboxes">
                    <input type="checkbox" id="player1_answer_1" onclick="showAnswer(1); deductPoints('{{game.player_2.id}}')">
                    <label for="player1_answer_1">{{ game.player_1.name }}</label>

                    <input type="checkbox" id="player2_answer_1" onclick="showAnswer(1); deductPoints('{{game.player_1.id}}')">
                    <label for="player2_answer_1">{{ game.player_2.name }}</label>
                </div>
                <div class="answer" id="answer_1">{{ current_question.answer_1 }}</div>

                <div class="checkboxes">
                    <input type="checkbox" id="player1_answer_2" onclick="showAnswer(2); deductPoints('{{game.player_2.id}}')">
                    <label for="player1_answer_2">{{ game.player_1.name }}</label>

                    <input type="checkbox" id="player2_answer_2" onclick="showAnswer(2); deductPoints('{{game.player_1.id}}')">
                    <label for="player2_answer_2">{{ game.player_2.name }}</label>
                </div>
                <div class="answer" id="answer_2">{{ current_question.answer_2 }}</div>

                <div class="checkboxes">
                    <input type="checkbox" id="player1_answer_3" onclick="showAnswer(3); deductPoints('{{game.player_2.id}}')">
                    <label for="player1_answer_3">{{ game.player_1.name }}</label>

                    <input type="checkbox" id="player2_answer_3" onclick="showAnswer(3); deductPoints('{{game.player_1.id}}')">
                    <label for="player2_answer_3">{{ game.player_2.name }}</label>
                </div>
                <div class="answer" id="answer_3">{{ current_question.answer_3 }}</div>

                <div class="checkboxes">
                    <input type="checkbox" id="player1_answer_4" onclick="showAnswer(4); deductPoints('{{game.player_2.id}}')">
                    <label for="player1_answer_4">{{ game.player_1.name }}</label>

                    <input type="checkbox" id="player2_answer_4" onclick="showAnswer(4); deductPoints('{{game.player_1.id}}')">
                    <label for="player2_answer_4">{{ game.player_2.name }}</label>
                </div>
                <div class="answer" id="answer_4">{{ current_question.answer_4 }}</div>

                <div class="checkboxes">
                    <input type="checkbox" id="player1_answer_5" onclick="showAnswer(5); deductPoints('{{game.player_2.id}}')">
                    <label for="player1_answer_5">{{ game.player_1.name }}</label>

                    <input type="checkbox" id="player2_answer_5" onclick="showAnswer(5); deductPoints('{{game.player_1.id}}')">
                    <label for="player2_answer_5">{{ game.player_2.name }}</label>
                </div>
                <div class="answer" id="answer_5">{{ current_question.answer_5 }}</div>
            </div>

            <button onclick="location.href='{% url 'next_question' game.id current_question_id %}';" type="button">
                Next Question
            </button>
        </div>

        <!-- Player 2 -->
        <div class="player">
            {% if game.player_2.picture %}
                <img src="{{ game.player_2.picture.url }}" alt="{{ game.player_2.name }}">
            {% else %}
                <img src="{% static 'app/images/player2_default.png' %}" alt="Default player image">
            {% endif %}
            <div class="name">{{ game.player_2.name }}</div>
            <div id="player_2_points" class="points">{{ game.player_2.points }} points</div>
            <div id="player_2_winner" class="winner hidden">
                <h2>Winner!</h2>
                <div class="confetti"> Winner </div>
            </div>
        </div>
    </div>

    <script>
        function showAnswer(answerId) {
            // Toggle the visibility of the answer when checkbox is checked
            const answerElement = document.getElementById('answer_' + answerId);
            if (answerElement.style.display === 'none' || !answerElement.style.display) {
                answerElement.style.display = 'block';
            } else {
                answerElement.style.display = 'none';
            }
        }

        function deductPoints(loserId) {
            fetch(`/deduct_points/${loserId}/`)
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        console.log(`Points deducted. New points: ${data.points}`);
                        if (loserId === '{{ game.player_1.id }}') {
                            document.getElementById('player_1_points').innerText = `${data.points} points`;
                            if (data.points === 0) {
                                document.getElementById('player_2_winner').classList.remove('hidden');
                            }
                        } else {
                            document.getElementById('player_2_points').innerText = `${data.points} points`;
                            if (data.points === 0) {
                                document.getElementById('player_1_winner').classList.remove('hidden');
                            }
                        }
                    }
                });
        }

    </script>
</body>
</html>
